.navBar{
    display: flex;
    background-color: #1C78BF;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    &__logo{
        padding: .5rem;
        background: linear-gradient(to right, #ff5e62, #ff9966);
        border-radius: 10px;
    }

    &__menu ul {
        display: flex;
        li {
            padding: 1rem;
        }
    }
}