<%-require('../partials/navigation.ejs')() %>
<div class="flex flex-wrap">
    <div class="w-full sm:w-8/12 mb-10">
      <div class="container mx-auto h-full sm:p-10">
        <nav class="flex px-4 justify-between items-center">
          <div class="text-4xl font-bold">
            Plant<span class="text-green-700">.</span>
          </div>
          <div>
            <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
          </div>
        </nav>
        <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
          <div class="w-full">
            <h1 class="text-4xl lg:text-6xl font-bold">Find your <span class="text-green-700">greeny</span> stuff for your room</h1>
            <div class="w-20 h-2 bg-green-700 my-4"></div>
            <p class="text-xl mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae maiores neque eaque ea odit placeat, tenetur illum distinctio nulla voluptatum a corrupti beatae tempora aperiam quia id aliquam possimus aut.</p>
            
            <button class="bg-green-500 text-white text-2xl font-medium px-4 py-2 rounded shadow">Created by
                @justaashir</button>
          </div>
        </header>
      </div>
    </div>

  

  <img class="w-full h-48 object-cover sm:h-screen sm:w-4/12"
  srcSet="<%= require('../images/cover.jpg?sizes[]=300,sizes[]=600,sizes[]=1024,sizes[]=2048&format=webp').srcSet %>"
  sizes="(max-width:500px) 100vw, (max-width: 1000px) 90vw, calc(60vw - 20px)"
  src="<%= require('../images/cover.jpg') %>" alt="Bunch of leaves">
  </div>
  <%-require('../partials/footer.ejs')() %>