<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <!-- header -->
    <%-require('../partials/navigation.ejs')() %>
    <!-- header $ -->
    <!-- React ready -->
    <div id="root"></div>
    <!-- React ready $-->
    <!-- main -->
    <main
  class="bg-black min-h-screen flex flex-col justify-center items-center"
>
  <div class="heading text-primary text-center text-9xl">
    <h1>Webpack Boilerplate</h1>
  </div>
  <div class="w-32 my-36 md:my-6">
    <img
      class="object-cover w-full spin__animation"
      srcSet="<%= require('../images/icon.png?sizes[]=300,sizes[]=600,sizes[]=1024,sizes[]=2048&format=webp').srcSet %>"
      sizes="(max-width:500px) 100vw, (max-width: 1000px) 90vw, calc(60vw - 20px)"
      src="<%= require('../images/icon.png') %>"
      alt="Webpack image"
    />
  </div>
  <div class="webpack__info my-36 md:my-0">
    <h2 class="text-white text-9xl font-bold">Webpack</h2>
  </div>
</main>
    <!-- main $-->
    <!-- footer -->
    <%-require('../partials/footer.ejs')() %>
    <!-- footer $-->
  </body>
</html>


