<section class="navBar">
  <div class="header">
    <div class="navBar__logo">
      <a href="index.htm">Beano Web Design</a>
    </div>
  </div>
  <div class="navBar__menu">
    <ul>
      <li><a class="text-xl" href="./index.html"> Home</a></li>
      <li><a class="text-xl" href="./demo.html"> Demo Page</a></li>
    </ul>

  </div>
</section>
