/**
 * Fonts
*/

@font-face {
  font-family: 'Montserrat';
  src: 
 
  url("/src/fonts/Montserrat-Regular.ttf") format("ttf"),
  url("/src/fonts/Montserrat-Regular.ttf") format("woff");
  font-style: normal;
}


